* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*** LOCATIONCARD ***/

.locationCard {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  /* padding: 5px; */
  height: 320px;
  width: 300px;
  background-color: pink;
background: linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(0,0,0,.5) 100%);
  border-radius: 2%;
  margin-bottom: 52px;
}

.locationCard img {
  height: 100%;
  /* margin-bottom: 5px; */
  object-fit: cover;
  object-position: center center;
  border-radius: 5%;
}

.locationCard figcaption {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 10px;
  display: flex;
  align-items: center;
  height: 20%;
}
